{% extends 'base.html' %}

{% block content %}

<section>
    <h2>Ce site ne pourrait pas exister sans les éléments suivants :</h2>
    <ul>
        <li>Le framework <a href="https://www.djangoproject.com/">Django</a></li>
        <li>La platefrome d'hébergement <a href="https://www.heroku.com/">Heroku</a></li>
        <li>La librairie CSS <a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li>Le thème <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Start Bootstrap Creative</a></li>
        <li>Les images de <a href="https://unsplash.com/photos/k60JspcBwKE">Kawin Harasai</a></li>
        <li>Le projet <a href="https://fr.openfoodfacts.org/">Openfoodfact</a></li>
    </ul>

</section>


{% endblock %}